# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.ilk

*.pdb

*.log

*.tlog

*.idb

Final/Final/Debug/Final.tlog/Final.lastbuildstate

Final/Final.VC.VC.opendb

Final/.vs/Final/v14/.suo

*.db

*.db
